<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'header.html' %}
</head>
<body>
{% block content %}
    {% include "menu.html" %}
    <h1 class="text-center">Aircraft {{ object.tail_code }}</h1>
    <h2>Basic info</h2>
    <table class="table table-hover text-center table-bordered font-monospace">
        <tr>
            <td>Tail code</td>
            <td>Aircraft model</td>
            <td>MTOW</td>
            <td>Max payload</td>
            <td>Range of flight</td>
            <td>Cargo volume</td>
            <td>Fuel capacity</td>
            <td>Takeoff length</td>
            <td>Landing length</td>
            <td>Speed</td>

        </tr>
        <tr>
            <td>{{ object.tail_code }}</td>
            <td>{{ object.aircraft_model }}</td>
            <td>{{ object.mtow_weight_kg }}</td>
            <td>{{ object.max_payload_kg }}</td>
            <td>{{ object.range_of_flight_km }}</td>
            <td>{{ object.cargo_volume_m }}</td>
            <td>{{ object.fuel_capacity_kg }}</td>
            <td>{{ object.takeoff_length_m }}</td>
            <td>{{ object.landing_length_m }}</td>
            <td>{{ object.speed_kmh }}</td>
        </tr>
    </table>

    {% if perms.crm.view_aircraftdevicelife %}
        <hr>
        <h2>Devices</h2>
        <table class="table table-hover text-center table-bordered font-monospace">
            <tr>
                <th>Aircraft</th>
                <th>Device name</th>
                <th>Last update</th>
                <th>After service cycles</th>
                <th>Service cycles period</th>
                <th>Total operation cycles</th>
                <th>Max operation cycles</th>
                <th>After service time</th>
                <th>Service time period</th>
                <th>Total operation time</th>
                <th>Max operation time</th>

            </tr>
            {% for device in devices %}
                <tr>
                    <td>{{ device.aircraft }}</td>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.latest_update }}</td>
                    <td>{{ device.after_service_cycles }}</td>
                    <td>{{ device.service_cycles_period }}</td>
                    <td>{{ device.total_operation_cycles }}</td>
                    <td>{{ device.max_operation_cycles }}</td>
                    <td>{{ device.after_service_time_h }}</td>
                    <td>{{ device.service_time_period_h }}</td>
                    <td>{{ device.total_operation_time_h }}</td>
                    <td>{{ device.max_operation_time_h }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if perms.crm.view_aircraftlog %}
        <hr>
        <h2>Logs</h2>
        <table style="width:100%">
            <tr>
                <th>Event datetime</th>
                <th>Event description</th>
                <th>Event type</th>
            </tr>
            {% for log in logs %}
                <tr>
                    <td>{{ log.event_datetime }}</td>
                    <td>{{ log.event_description }}</td>
                    <td>{{ log.event_type }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <h2 class="text-center">Nearest flights</h2>
    {% include 'flight_table.html' %}
{% endblock %}
</body>
</html>
