<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    {% include 'header.html' %}
</head>
<body>
{% block content %}
    {% include "menu.html" %}
        <h1 class="text-center">Employees list</h1>
    <div class="container w-50">
    <table class="table text-center table-hover table-bordered">
        <tr>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Occupation</th>
        </tr>
        {% for employee in object_list %}
            <tr>
                <td><a href="{% url 'crm:employee view' employee.id%}">{{ employee.user }}</a></td>
                <td>{{ employee.user.first_name }}</td>
                <td>{{ employee.user.last_name }}</td>
                <td>{{ employee.occupation }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
{% load static %}
<script src="{% static 'crm/js/bootstrap.min.js' %}"></script>
</body>
</html>
