<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'crm/style.css' %}">
</head>
<body>
{% block content %}
    <h1>Flight plans</h1>
    {% include "menu.html" %}
    <table style="width:100%">
        <tr>
            <th>Flight code</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Planning departure</th>
            <th>Planning arrival</th>
            <th>Passenger capacity</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Days of week</th>
            <th>Status</th>
            <td>Delete</td>
        </tr>
        {% for plan in plans %}
            <tr>
                <td><a href="{% url 'crm:edit flight plan' plan.pk %}">{{ plan.flight_code }}</a></td>
                <td>{{ plan.source }}</td>
                <td>{{ plan.destination }}</td>
                <td>{{ plan.planning_departure_time }}</td>
                <td>{{ plan.planning_arrival_time }}</td>
                <td>{{ plan.passanger_capacity }}</td>
                <td>{{ plan.start_date }}</td>
                <td>{{ plan.end_date }}</td>
                <td>{{ plan.days_of_week }} </td>
                <td>{{ plan.get_status_display }}</td>
                <td>
                    <button type="button" onclick="window.location.href='{% url 'crm:delete flight plan' plan.pk %}'">
                        X
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button type="button" onclick="window.location.href='{% url 'crm:add flight plan' %}'" class="block">New Plan
    </button>

{% endblock %}
</body>
</html>
