{% block sidebar %}

    <ul class="side-bar">
        {% if perms.crm.view_aircraft %}
            <li>
                <a class="menu-item" href="{% url 'crm:aircrafts' %}"> Aircrafts</a>
            </li>
        {% endif %}


        {% if perms.crm.view_aircraftdevicelife %}
            <li>
                <a class="menu-item" href="{% url 'crm:aircrafts devices' %}">Aircraft Devices</a>
            </li>
        {% endif %}
        <li>
            <a class="menu-item logout-item" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
{% endblock %}
